[tool.poetry]
name = "fastapi-key-auth"
version = "0.7.5"
description = "API key validation Middleware"
authors = ["Benjamin Ramser <legionaerr@googlemail.com>"]
license = "MIT"
readme = "readme.md"
homepage = "https://github.com/iwpnd/fastapi-key-auth"
repository = "https://github.com/iwpnd/fastapi-key-auth"
keywords = ["tile38", "async", "client"]


[tool.poetry.dependencies]
python = "^3.7"
fastapi = ">=0.70.0,<0.85.0"
starlette = "^0.19.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1"
pre-commit = "^2.19.0"
black = "^22.3"
gitlint = "^0.17.0"
poethepoet = "^0.13.1"
isort = "^5.10.1"
pytest-cov = "^3.0.0"
flake8 = "^4.0.1"
requests = "^2.27.1"
mypy = "^0.950"
python-semantic-release = "^7.28.1"

[mypy]
python_version = 3.7
ignore_missing_imports = true


[tool.semantic_release]
version_variable = [
    "fastapi_key_auth/__init__.py:__version__",
    "pyproject.toml:version"
]
commit_subject = "ci: release v{version}"
branch = "main"
upload_to_pypi = true
upload_to_release = true
build_command = "pip install poetry && poetry build"

[tool.poe.tasks]
test       = "poetry run pytest -vv -s tests/"
test-cov   = "poetry run pytest -vv -s --cov=fastapi_key_auth tests/"
mypy       = "poetry run mypy --ignore-missing-imports --config-file pyproject.toml"
lint       = "flake8 ."
publish		 = "poetry run semantic-release publish"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
