[tool.poetry]
name = "fastapi-key-auth"
version = "0.3.0"
description = "API key validation Middleware"
authors = ["Benjamin Ramser <legionaerr@googlemail.com>"]
license = "MIT"
readme = "readme.md"
homepage = "https://github.com/iwpnd/fastapi-key-auth"
repository = "https://github.com/iwpnd/fastapi-key-auth"
keywords = ["tile38", "async", "client"]


[tool.poetry.dependencies]
python = "^3.7"
starlette = "0.13.6"

[tool.poetry.dev-dependencies]
pytest = "^6.2"
pre-commit = "^2.12.0"
mypy = "^0.812"
black = "^20.8b1"
gitlint = "^0.15.0"
poethepoet = "^0.10.0"
isort = "^5.8.0"
pytest-cov = "^2.11.1"
flake8 = "^3.9.0"
fastapi = "^0.63.0"
requests = "^2.25.1"

[tool.poe.tasks]
test       = "poetry run pytest -vv -s tests/"
test-cov   = "poetry run pytest -vv -s --cov=fastapi_key_auth tests/"
mypy       = "poetry run mypy --config-file pyproject.toml"
lint       = "flake8 ."

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
